@font-face {
    font-family: "BrownStd-Regular";
    src: url("../assets/fonts/BrownStd-Regular/BrownStd-Regular.eot");
    src: url("../assets/fonts/BrownStd-Regular/BrownStd-Regular.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/BrownStd-Regular/BrownStd-Regular.otf") format("opentype"),
      url("../assets/fonts/BrownStd-Regular/BrownStd-Regular.svg") format("svg"),
      url("../assets/fonts/BrownStd-Regular/BrownStd-Regular.ttf") format("truetype"),
      url("../assets/fonts/BrownStd-Regular/BrownStd-Regular.woff") format("woff"),
      url("../assets/fonts/BrownStd-Regular/BrownStd-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: "Portrait-MediumItalic";
    src: url("../assets/fonts/Portrait-MediumItalic/Portrait-MediumItalic.eot");
    src: url("../assets/fonts/Portrait-MediumItalic/Portrait-MediumItalic.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/Portrait-MediumItalic/Portrait-MediumItalic.otf") format("opentype"),
      url("../assets/fonts/Portrait-MediumItalic/Portrait-MediumItalic.svg") format("svg"),
      url("../assets/fonts/Portrait-MediumItalic/Portrait-MediumItalic.ttf") format("truetype"),
      url("../assets/fonts/Portrait-MediumItalic/Portrait-MediumItalic.woff") format("woff"),
      url("../assets/fonts/Portrait-MediumItalic/Portrait-MediumItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}


