//colors
$hodinkee-green: #2e707c;
$hodinkee-green-hover: rgb(67, 160, 177);
$hodinkee-grey: #a9a9a9;
$red: #e20404;
$white: #fff;
$wallpaperColor: #06112b;

//fonts
$portrait: "Portrait-MediumItalic", Serif;
$brownstd: "BrownStd-Regular", Sans-Serif;